__pycache__
.idea/*
.ipynb_checkpoints/*
.vscode/*
config/__pycache__/*
data-local/images/*
data-local/labels/cifar10/*
data-local/labels/cifar100/*
data-local/labels/miniimagenet/*
data-local/workdir/*
data-local/cifar100_meta.meta